<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">
		<h1 style="text-align: center;">
			<strong> <span style="text-align: center; color: #3E9ED4;">&iquest;Que
					es CVPlus?</span></strong>
		</h1>


		<p style="text-align: center;">
			<span style="text-align: center; color: rgb(0, 0, 26);">&ldquo;CV
				Plus&rdquo; es una aplicaci&oacute;n web que tiene el
				prop&oacute;sito de ayudar a los estudiantes universitarios del
				Per&uacute; para que puedan enriquecer su curriculum vitae, y puedan
				estar preparados al momento de conseguir pr&aacute;cticas
				preprofesionales, esto mediante la asesor&iacute;a directa con un
				experto en recursos humanos, que les dar&aacute; las pautas a seguir
				para mejorar seg&uacute;n su perfil profesional. De esta manera
				lograremos satisfacer la demanda que tienen los estudiantes
				universitarios al momento de buscar donde realizar sus
				pr&aacute;cticas preprofesionales y c&oacute;mo prepararse para todo
				el proceso de selecci&oacute;n. </span>
		</p>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>