<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar_student"></th:block>
	<div class="container">
		<div class="card" style="max-width: 100%;">
			<div class="card-header">Lista de Asesores - Servicios</div>
			<div class="card-body">

				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Tipo de Asesoría</th>
							<th>Fecha</th>
							<th>Estado</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="service_adviser: ${serviceAdv_collection}">
							<td th:text="${service_adviser.IdServicio}"></td>
							<td th:text="${service_adviser.adviser.firstName}"></td>
							<td th:text="${service_adviser.adviser.lastName}"></td>
							<td th:text="${service_adviser.Tipo_Asesoria}"></td>
							<td th:text="${service_adviser.Fecha_Asesoria}"></td>
							<td th:text="${service_adviser.Estado}"></td>
					</tbody>
			</div>
		</div>


	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>