<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">
		<div class="card" style="max-width: 100%;">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			
				<form th:object="${sxa}" th:action="@{/views/advisers/save}"
					th:method="post">

					<div class="form-group row">
						<input type="hidden" th:field="*{idServicioAdviser}">
						<label for="advisers" class="col-sm-2 col-form-label">Asesores:</label>
						<div class="col-sm-6">
							<select id="advisers" th:field="*{adviser.idAdviser}"
								class="form-control form-control-sm col-md-6">
								<option th:each="adviser: ${advisers}"
									th:value="${adviser.idAdviser}" th:text="${adviser.toString()}">


								</option>

							</select>
						</div>
					</div>


					<div class="form-group row">
						<label for="servicios" class="col-sm-2 col-form-label">Servicios:</label>
						<div class="col-sm-6">
							<select id="servicios" th:field="*{servicio.idServicio}"
								class="form-control form-control-sm col-md-6">
								<option th:each="service: ${services}"
									th:value="${service.idServicio}"
									th:text="${service.serviceName}"></option>

							</select>
						</div>
					</div>



					<div class="form-group row">
						<label for="horaInicio" class="col-sm-2 col-form-label">Hora Inicio:</label>
						<div class="col-sm-6">
							<select id="horaInicio" th:field="*{horaInicio}"
								class="form-control form-control-sm col-md-6">
								<option value="10:00 AM">10:00 AM</option>
								<option value="12:00 AM">12:00 AM</option>
								<option value="02:00 AM">02:00 AM</option>
								
							</select>
						</div>
					</div>


					<div class="form-group row">
						<label for="horaFin" class="col-sm-2 col-form-label ">Hora
							Fin:</label>
						<div class="col-sm-6">
							<select id="horaFin" th:field="*{horaFin}"
								class="form-control form-control-sm col-md-6">
								<option value="10:00 AM">10:00 AM</option>
								<option value="12:00 AM">12:00 AM</option>
								<option value="02:00 AM">02:00 AM</option>
							</select>
						</div>
					</div>



					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" class="btn btn-primary" value="Guardar">
							<a href="/views/advisers/" class="btn btn-danger">Cancelar</a>
						</div>
					</div>

				</form>

			</div>

		</div>
	</div>

	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>