<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbarEmpresa"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">
				<h1 style="text-align: center; color: #3f7320;">
					<span style="border-bottom: 4px solid #c82828;">Lista de
						Portafolios de CV+ 
				</h1>
			</div>
			
			<div class="card-body">
			<form th:object="${portafolio}">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button"
						id="dropdownMenuButton" data-toggle="dropdown"
						aria-expanded="false">Ordenar por:</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Codigo</a> <a
							class="dropdown-item" href="#">Nombre</a> <a
							class="dropdown-item" href="#">Puntuacion</a>
					</div>
				</div>
			</form>
				<table class="table table-striped">
					<!--  -->
					<thead class="thead-dark">
						<tr>
							<th scope="col">ID</th>
							<th>Portafolio</th>
							<th>Accion</th>
							<th>Detalle</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<tr th:each="portafolio:${portafolios}">
							<td th:text="${portafolio.id}"></td>
							<td th:text="${portafolio.nombre}"></td>
							<td><a th:href="@{'/portafolios/visual/'+${portafolio.id}}"
								class="btn btn-primary">Explorar</a></td>
							<td><a th:href="@{'/portafolios/comment/'+${portafolio.id}}"
								class="btn btn-danger">Valoracion</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>








	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>